/* body style*/
body {
    background-image: url("pexels-pixabay-235985.jpg");
    font-family: "Roboto", sans-serf;
}
/* heading style*/
h1 {
    color: navy;
    margin-left: 20px;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}
img{
    border-radius: 8px;
}
a {
    display: block;
    padding: 8px;
    color: white;
    font-family: Helvetica;
    text-align: center;
    text-decoration: none;
}

ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}
