/* body style*/
body {
    background-color: lightblue;
    background-image: url("pexels-pixabay-235985.jpg");
    font-family: "Roboto", sans-serf;
}
/* heading style*/
h1 {
    color: navy;
    margin-left: 20px;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}
nav {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  box-shadow: 2px 3px 2px #f1f1f1;
}
